<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJECT_OOP.Properties.Settings.KHACHHANGConnectionString"
            connectionString="Data Source=LAPTOP-FAD3KR2U\SQLEXPRESS01;Initial Catalog=KHACHHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>